* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: "Public Sans", sans-serif;
  color: #9597A5;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1f);
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 80px 1fr 190px;
  overflow: hidden;
  overflow-y: scroll;
}

.container-btn {
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  height: 44px;
  width: 162px;
  border-radius: 22px;
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
}

#header {
  padding: 2px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1001;
}
#header .logo {
  margin-left: 165px;
}
#header .navigation {
  display: flex;
  align-items: center;
  gap: 5px 30px;
}
#header .navigation li {
  list-style: none;
  border: none;
}
#header .navigation li a {
  border: none;
  color: #9597A5;
  font-weight: 400;
  text-decoration: none;
}
#header .invicte-area {
  margin-right: 165px;
}

#content {
  grid-area: content;
}
#content h1,
#content h2 {
  color: #2D314D;
}
#content .info {
  width: 440px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.281px;
  margin-bottom: 36px;
}
#content #section-intro {
  display: flex;
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right -470px top -275px;
  width: 100vw;
}
#content #section-intro .call-action {
  margin-top: 160px;
  margin-left: 90px;
  position: absolute;
  width: 447px;
  height: 316px;
}
#content #section-intro .call-action h1 {
  font-size: 56px;
  width: 100%;
  font-weight: 300;
  line-height: 64px;
  margin-right: 45px;
  margin-bottom: 24px;
}
#content #section-intro .mockups {
  position: relative;
  top: -120px;
  right: -737px;
  z-index: 990;
}
#content #section-intro .mockups img {
  background: transparent;
  width: 100%;
  max-width: 732px;
  height: 901px;
}
#content #about {
  background-color: #F4F5F7;
  position: absolute;
  top: 700px;
  right: 30px;
  height: 676px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#content #about h2,
#content #about .about-info {
  margin: 96px 0px 16px 90px;
}
#content #about h2 {
  font-size: 40px;
}
#content #about .about-info {
  margin-top: 0px;
  width: 635px;
}
#content #about .container-aboutCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 30px;
  margin: 70px 119px 0px 100px;
}
#content #about .container-aboutCards .info-bankCard {
  height: 278px;
  width: 100%;
  max-width: 256px;
}
#content #about .container-aboutCards .info-bankCard .content-aboutCards {
  width: 255px;
  height: 166px;
}
#content #about .container-aboutCards .info-bankCard .content-aboutCards .icon {
  width: 100%;
  max-width: 72px;
  height: 72px;
  margin-bottom: 14px;
}
#content #about .container-aboutCards .info-bankCard .content-aboutCards .icon img {
  width: 100%;
  height: auto;
}
#content #about .container-aboutCards .info-bankCard .content-aboutCards h3 {
  color: #2D314D;
  font-weight: 300;
  margin: 26px 0px;
}
#content #about .container-aboutCards .info-bankCard .content-aboutCards p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
}
#content #articles {
  width: fit-content;
  height: 499px;
  margin-top: 595px;
  margin-left: 15px;
}
#content #articles .title-articles-container {
  font-size: 40px;
  letter-spacing: -0.714px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #2D314D;
}
#content #articles .container-lastest-articles {
  height: 395px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0px 30px;
}
#content #articles .container-lastest-articles .container-articles {
  background: #FFF;
  border-radius: 5px;
  max-width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#content #articles .container-lastest-articles .container-articles .container-img {
  width: 100%;
  max-width: 255px;
  height: 200px;
}
#content #articles .container-lastest-articles .container-articles .container-img img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#content #articles .container-lastest-articles .container-articles .container-info-articles {
  display: flex;
  width: 207px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
#content #articles .container-lastest-articles .container-articles .container-info-articles h3 {
  margin-top: 25px;
  font-size: 10px;
  font-weight: 400;
}
#content #articles .container-lastest-articles .container-articles .container-info-articles strong {
  font-size: 16px;
  font-weight: 300;
  color: #2D314D;
}
#content #articles .container-lastest-articles .container-articles .container-info-articles p {
  height: 72px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.203px;
}

footer {
  height: 191px;
  background-color: #2D314D;
  grid-area: footer;
}
footer .container-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .container-footer .group1 .logo {
  margin-top: 48px;
  margin-bottom: 56px;
}
footer .container-footer .group1, footer .container-footer .container-links-group, footer .container-footer .group3 {
  display: flex;
  flex-direction: column;
}
footer .container-footer .group2 {
  margin-top: 49px;
  display: flex;
  gap: 0px 80px;
}
footer .container-footer .group2 .container-links-group {
  gap: 20px 30px;
}
footer .container-footer .group2 .container-links-group a {
  text-decoration: none;
  color: white;
}
footer .container-footer .group3 {
  width: 220px;
  height: 94px;
  margin-top: 48px;
}
footer .container-footer .group3 .container-btn {
  margin: 0px 0px 24px 57px;
}

.attribution {
  width: 400px;
  font-size: 11px;
  text-align: center;
  margin: 15px;
}

/*# sourceMappingURL=style.css.map */
